
# You have to set the absolute path for file sources
[sources]
source0 = file:///workspace/deepstream-main/data/videos/cars_test01.mp4
source1 = file:///workspace/deepstream-main/data/videos/sample_720p.mp4

[streammux]
width = 1920
height = 1080
batched-push-timeout = 4000000
# Revisar/testear que valor de batch size nos da un buen performance
batch-size = 2

[models]
# el batch size the pgie deberia ser el mismo del streammux
pgie_config = configs/tcnet_pgie_config.txt
tracker_config = configs/general_tracker_config.txt
# Revisar/testear que valor de batch size nos da un buen performance
sgie1_config = configs/lpdnet_sgie1_config.txt
# Revisar/testear que valor de batch size nos da un buen performance
sgie2_config = configs/lprnet_sgie2_config.txt

[tiler]
width = 1280
height = 720

[sink]
# Type RTSP: 0, MP4: 1
type = 1
outpath_file = output/out.mp4

# Example Fake sink
# [sink]
# type = 2

# Example sink MP4
# [sink]
# type = 1
# outpath_file = output/result.mp4

# Example sink RTSP
# [sink]
# # Type RTSP: 0, MP4: 1, Fakesink: 2
# type = 0
# # codec: H264 or H265
# codec = H264
# bitrate = 4000000
# updsink_port_num = 5400
