
.ipynb_checkpoints
__pycache__
.vscode/
# training ignore files

# detectnet_v2
training/data/
training/detectnet_v2/data/
training/detectnet_v2/.ipynb_checkpoints/
training/ngccli/
training/detectnet_v2/pretrained_resnet18/
training/detectnet_v2/experiment_dir_unpruned/

# lpd_net
training/lpd_net/data/
training/lpd_net/.ipynb_checkpoints/
training/lpd_net/benchmarks/
training/lpd_net/ngccli/
training/lpd_net/experiments/


# TrafficCamNet 
training/tcnet/data/
training/tcnet/.ipynb_checkpoints/
training/tcnet/benchmarks/
training/tcnet/ngccli/
training/tcnet/experiments/

# lpr_net
training/lprnet/data/
training/lprnet/.ipynb_checkpoints/
training/lprnet/benchmarks/
training/lprnet/ngccli/
training/lprnet/experiments/

training/base_models.zip


# deployment

# ignoring custom bindings
deployment/pyds_custom/pyds_custom.so
deployment/pyds_custom/build/

# ignoring configs, data and custom parser
deployment/data/pgies/
deployment/data/sgies/
deployment/data/videos/
deployment/nvinfer_custom_lpr_parser/libnvdsinfer_custom_impl_lpr.so


# ignoring sample apps
deployment/deepstream-main/output/

# ignoring folder/files from deepstream-video2data
deployment/deepstream-video2data/output/

# ignoring folder/files from deepstream-msg2kafka
deployment/deepstream-msg2kafka/kafka_*
deployment/deepstream-msg2kafka/nvmsgconv/libnvds_msgconv_custom.so

# SVG diagrams
deployment/img/

# preparation

preparation/plates/img/
