
.ipynb_checkpoints

# training ignore files

# detectnet_v2
training/data/
training/detectnet_v2/data/
training/detectnet_v2/.ipynb_checkpoints/
training/ngccli/
training/detectnet_v2/pretrained_resnet18/
training/detectnet_v2/experiment_dir_unpruned/

# lpd_net
training/lpd_net/data/
training/lpd_net/.ipynb_checkpoints/
training/lpd_net/benchmarks/
training/lpd_net/ngccli/
training/lpd_net/experiments/









# TrafficCamNet 
training/tcnet/data/
training/tcnet/.ipynb_checkpoints/
training/tcnet/benchmarks/
training/tcnet/ngccli/
training/tcnet/experiments/

# lpr_net
training/lprnet/data/
training/lprnet/.ipynb_checkpoints/
training/lprnet/benchmarks/
training/lprnet/ngccli/
training/lprnet/experiments/
